@using TakaZada.Core
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";

    var list = (List<TakaZada.Core.Models.Computer>)ViewBag.Computers;
}
<style>
    img {
        width: 80px;
        height: 80px;
    }

    a {
        margin: 0.5px;
    }

    table {
        margin: 5px;
    }
</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Management</li>
    <li class="breadcrumb-item active">Computer</li>
</ol>
<div class="col-md-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Image</td>
                <td>Name</td>
                <td>Trademark</td>
                <td>OS</td>
                <td>Feature</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in list)
            {
                <tr style="@if (item.IsDeleted == true) { @Html.Raw("background-color:" +  "#f2dede")}">
                    <td>@item.Id</td>
                    <td>
                        <img src="@Constants.COMPUTER_PATH@item.Image" alt="Alternate Text" />
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Trademark
                    </td>
                    <td>
                        @item.OS
                    </td>
                    <td>
                        @item.Feature
                    </td>
                    <td>
                        <a class="btn btn-success" href="@Url.Action("Update","Computer",new { Id = item.Id})">Update</a>
                        @if (item.IsDeleted == false)
                        {
                            <a class="btn btn-danger" name="@item.Id" href="@Url.Action("Delete","Computer",new { Id = item.Id})">Delete</a>
                        }
                        else
                        {
                            <a class="btn btn-success" name="@item.Id" href="@Url.Action("Restore","Computer",new { Id = item.Id})">Restore</a>
                        }

                    </td>
                </tr>

            }
        </tbody>
    </table>
    <a class="btn btn-success" href="@Url.Action("Add","Computer")">Add</a>


</div>

