@using TakaZada.Core.Models;
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
    var radiator = (Radiator)ViewBag.SelectedRadiator;
}
@Scripts.Render("~/bundles/jquery")
<h2>Update form</h2>
<form method="post">
    @{
        if (null != Session["submit_message"])
        {
            @Html.Raw("<h3 class='error-mesage' style='display: none;'>" + Session["submit_message"] + "</h3>");
            <script type="text/javascript">
                $(function () {
                    $('.error-mesage').delay(500).fadeIn('normal', function () {
                        $(this).delay(2500).fadeOut();
                    });
                });
            </script>
            Session["submit_message"] = null;
        }
    }
    <div class="form-group">
        <input class="form-control" type="hidden" name="Id" value="@radiator.Id" />
    </div>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" id="Name" name="Name" value="@radiator.Name" />
    </div>
    <div class="form-group">
        <label>TradeMark</label>
        <input class="form-control" type="text" id="TradeMark" name="TradeMark" value="@radiator.TradeMark" />
    </div>
    <div class="form-group">
        <label>Label</label>
        <input class="form-control" type="text" id="Label" name="Label" value="@radiator.Label" />
    </div>
    <div class="form-group">
        <label>Material</label>
        <input class="form-control" type="text" id="Material" name="Material" value="@radiator.Material" />
    </div>
    <div class="form-group">
        <label>Speed</label>
        <input class="form-control" type="text" id="Speed" name="Speed" value="@radiator.Speed" />
    </div>
    <div class="form-group">
        <label>Size</label>
        <input class="form-control" type="text" id="Size" name="Size" value="@radiator.Size" />
    </div>
    <div class="form-group">
        <label>FanSize</label>
        <input class="form-control" type="text" id="FanSize" name="FanSize" value="@radiator.FanSize" />
    </div>
    <div class="form-group">
        <label>Socket</label>
        <input class="form-control" type="text" id="Socket" name="Socket" value="@radiator.Socket" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input class="form-control" type="text" id="Price" name="Price" value="@radiator.Price" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" id="Description" name="Description" rows="8">
          @radiator.Description
        </textarea>
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
    <a class="btn btn-danger" href="@Url.Action("Index","Radiator")">Cancel</a>
</form>

