@using TakaZada.Core.Models

@{
    ViewBag.Title = "Radiator";
    var collection = ((List<Radiator>)ViewBag.ListRadiator).ToList();
}
<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
            <li>Computer</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- dresses -->
<div class="dresses">
    <div class="container">
        <div class="w3ls_dresses_grids">
            <div class="col-md-4 w3ls_dresses_grid_left">
                <div class="w3ls_dresses_grid_left_grid">
                    <h3>Categories</h3>
                    <div class="w3ls_dresses_grid_left_grid_sub">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title asd">
                                        <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>New Arrivals
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body panel_text">
                                        <ul>
                                            <li><a href="@Url.Action("Index","Radiator", new { Name = "Gigabyte"})">Gigabyte</a></li>
                                            <li><a href="@Url.Action("Index","Radiator", new { Name = "Deepcool"})">Deepcool</a></li>
                                            <li><a href="@Url.Action("Index","Radiator", new { Name = "Corsair"})">Corsair </a></li>
                                            <li><a href="@Url.Action("Index","Radiator", new { Name = "Aigo"})">Aigo </a></li>
                                            <li><a href="@Url.Action("Index","Radiator", new { Name = "Tất cả"})">Tất cả</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title asd">
                                        <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Foot Wear
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body panel_text">
                                        <ul>
                                            <li><a href="sandals.html">Flats</a></li>
                                            <li><a href="sandals.html">Sandals</a></li>
                                            <li><a href="sandals.html">Boots</a></li>
                                            <li><a href="sandals.html">Heals</a></li>
                                            <li><a href="sandals.html">Shirts</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="panel_bottom">
                            <li><a href="products.html">Summer Store</a></li>
                            <li><a href="dresses.html">New In Clothing</a></li>
                            <li><a href="sandals.html">New In Shoes</a></li>
                            <li><a href="products.html">Latest Watches</a></li>
                        </ul>
                    </div>
                </div>
                <div class="w3ls_dresses_grid_left_grid">
                    <h3>Color</h3>
                    <div class="w3ls_dresses_grid_left_grid_sub">
                        <div class="ecommerce_color">
                            <ul>
                                <li><a href="#"><i></i> Red(5)</a></li>
                                <li><a href="#"><i></i> Brown(2)</a></li>
                                <li><a href="#"><i></i> Yellow(3)</a></li>
                                <li><a href="#"><i></i> Violet(6)</a></li>
                                <li><a href="#"><i></i> Orange(2)</a></li>
                                <li><a href="#"><i></i> Blue(1)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w3ls_dresses_grid_left_grid">
                    <h3>Size</h3>
                    <div class="w3ls_dresses_grid_left_grid_sub">
                        <div class="ecommerce_color ecommerce_size">
                            <ul>
                                <li><a href="#">Medium</a></li>
                                <li><a href="#">Large</a></li>
                                <li><a href="#">Extra Large</a></li>
                                <li><a href="#">Small</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 w3ls_dresses_grid_right">
                <div class="clearfix"> </div>
                <div class="w3ls_dresses_grid_right_grid2">
                    <div class="w3ls_dresses_grid_right_grid2_left">
                        <h3>Showing Results: 0-1</h3>
                    </div>
                    <div class="w3ls_dresses_grid_right_grid2_right">
                        <select name="select_item" class="select_item">
                            <option selected="selected">Default sorting</option>
                            <option>Sort by popularity</option>
                            <option>Sort by average rating</option>
                            <option>Sort by newness</option>
                            <option>Sort by price: low to high</option>
                            <option>Sort by price: high to low</option>
                        </select>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                @for (int i = 1; i <= collection.Count; i++)
                {
                    if (i % 3 == 0 || i == 1)
                    {
                        @:<div class="w3ls_dresses_grid_right_grid3">
                        }
                        var item = collection[i - 1];
                        <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_dresses">
                            <div class="agile_ecommerce_tab_left dresses_grid">
                                <img src="~/Content/Pictures/Radiator/@item.Image" alt=" " class="img-responsive" style=" width: 200px;height: 170px;" />
                                <h5><a href="@Url.Action("Details","Radiator",new { Id = item.Id})">@item.Name</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><span>$420</span> <i class="item_price">@item.Price</i></p>
                                    <p><a class="item_add" href="@Url.Action("AddToCart","Cart",new { type = "Radiator",ItemId = item.Id,Quantity = 1 , price = item.Price , Id = item.Id , Name = item.Name , Image = item.Image})">Add to cart</a></p>

                                </div>

                            </div>
                        </div>
                        if (i % 3 == 0)
                        {
                        @:</div>
                        @:<div class="clearfix"> </div>
                    }
                }
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //dresses -->