@using TakaZada.Core.Models;
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
    var mainboard = (MainBoard)ViewBag.SelectedMainboard;
}
@Scripts.Render("~/bundles/jquery")
<h2>Update form</h2>
<form method="post">
    @{
        if (null != Session["submit_message"])
        {
            @Html.Raw("<h3 class='error-mesage' style='display: none;'>" + Session["submit_message"] + "</h3>");
            <script type="text/javascript">
                $(function () {
                    $('.error-mesage').delay(500).fadeIn('normal', function () {
                        $(this).delay(2500).fadeOut();
                    });
                });
            </script>
            Session["submit_message"] = null;
        }
    }
    <div class="form-group">
        <input class="form-control" type="hidden" name="Id" value="@mainboard.Id" />
    </div>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" id="Name" name="Name" value="@mainboard.Name" />
    </div>
    <div class="form-group">
        <label>WarrantyPeriod</label>
        <input class="form-control" type="number" id="WarrantyPeriod" name="WarrantyPeriod" value="@mainboard.WarrantyPeriod" />
    </div>
    <div class="form-group">
        <label>TradeMark</label>
        <input class="form-control" type="text" id="TradeMark" name="TradeMark" value="@mainboard.TradeMark" />
    </div>
    <div class="form-group">
        <label>Type</label>
        <input class="form-control" type="text" id="Type" name="Type" value="@mainboard.Type" />
    </div>  
    <div class="form-group">
        <label>Model</label>
        <input class="form-control" type="text" id="Model" name="Model" value="@mainboard.Model" />
    </div>    
    <div class="form-group">
        <label>Chipset</label>
        <input class="form-control" type="text" id="Chipset" name="Chipset" value="@mainboard.Chipset" />
    </div>   
    <div class="form-group">
        <label>MaxRamMemory</label>
        <input class="form-control" type="text" id="MaxRamMemory" name="MaxRamMemory" value="@mainboard.MaxRamMemory" />
    </div> 
    <div class="form-group">
        <label>RamType</label>
        <input class="form-control" type="text" id="RamType" name="RamType" value="@mainboard.RamType" />
    </div>    
    <div class="form-group">
        <label>RamNum</label>
        <input class="form-control" type="number" id="RamNum" name="RamNum" value="@mainboard.RamNum" />
    </div>    
    <div class="form-group">
        <label>HDMINum</label>
        <input class="form-control" type="text" id="HDMINum" name="HDMINum" value="@mainboard.HDMINum" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input class="form-control" type="text" id="Price" name="Price" value="@mainboard.Price" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" id="Description" name="Description" rows="8">
          @mainboard.Description
        </textarea>
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
    <a class="btn btn-danger" href="@Url.Action("Index","Mainboard")">Cancel</a>
</form>

